
<% if current_company %>
<div class="container" style="padding-top: 30px;">
  <% flash.each do |key,value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class= "text-center">
        Ajouter une réduction
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h6 class= "text-center"> Complétez ce formulaire afin d'ajouter une réduction.  <br/> Celle-ci sera disponible immédiatement en ligne </h6>
    </div>
  </div>
    <%= form_for @discount do |f| %>

      <div class="form-group">
        <%= f.label :'Mon entreprise' %>
        <%= f.text_field :company, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :'Type de réduction' %>

        <%= f.select(:typeOfDiscount, ['Réduction en valeur','Réduction en pourcentage','Bien pour un achat donné'], {}, { class: 'form-control cutsom-type-reduction' }) %>

      <!-- This div is hidden by default. It allows the user to precise the discount value -->
      </div>
      <div class="form-row  custom-field-form-for-discount" id= "custom-field-form-for-discount-id-1">
      <div class="form-group col-md-6">
        <%= f.label :'Valeur initiale' %>

        <%= f.number_field :valueOfDiscount, class: 'form-control' %>

      </div>

    <div class="form-group col-md-6">
      <%= f.label :'Valeur de la réduction' %>

      <%= f.number_field :percentageOfDiscount, class: 'form-control' %>

    </div>

  </div>
  <div class="form-row  custom-field-form-for-discount" id= "custom-field-form-for-discount-id-2">
  <div class="form-group col-md-6">
    <%= f.label :'Valeur initiale' %>

    <%= f.number_field :valueOfDiscount, class: 'form-control' %>

  </div>

  <div class="form-group col-md-6">
    <%= f.label :'Pourcentage de la réduction' %>

    <%= f.number_field :percentageOfDiscount, class: 'form-control' %>

  </div>
  </div>

  <div class="form-row solid-line-delimiter">
  </div>

    <div class="form-group">
      <%= f.label :'Titre de l\'annonce (Soyez créatifs!)' %>
      <%= f.text_field :titleOfDiscount, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :'Description de la réduction' %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :'Conditions de la réduction' %>
      <%= f.text_area :conditions, class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.submit :submit, class: 'btn btn-outline-success btn-block btn-lg' %>
  </div>

  <% end %>
</div>

<script>
$(document).ready(function () {
  var h = $('.cutsom-type-reduction');
  console.log(h);
  $('.cutsom-type-reduction').change(function() {
    var mySel = $('.cutsom-type-reduction').val();
    if (mySel === 'Réduction en valeur')
    {
      console.log(mySel);
      if ($('#custom-field-form-for-discount-id-1').hasClass('custom-field-form-for-discount'))
      {
        $('#custom-field-form-for-discount-id-1').removeClass('custom-field-form-for-discount');
      }

      if ($('#custom-field-form-for-discount-id-2').hasClass('custom-field-form-for-discount') == false)
      {
        $('#custom-field-form-for-discount-id-2').addClass('custom-field-form-for-discount');
      }

      //$('.custom-field-form-for-discount').fadeIn('slow');
    }
    else if (mySel === 'Réduction en pourcentage') {
      console.log(mySel);

      if ($('#custom-field-form-for-discount-id-2').hasClass('custom-field-form-for-discount') == true )
      {
        console.log('1');
        $('#custom-field-form-for-discount-id-2').removeClass('custom-field-form-for-discount');
      }

      if ($('#custom-field-form-for-discount-id-1').hasClass('custom-field-form-for-discount') == false)
      {
        console.log('2');
        $('#custom-field-form-for-discount-id-1').addClass('custom-field-form-for-discount');
      }
    }
    else if (mySel === 'Bien pour un achat donné') {

    }
    else
    {
      // Do nothing
      console.log(mySel);
    }
  })
})
</script>
<% else %>
  <% render root_path %>
<% end %>
