<style>

#custom-second-navbar {
  display: none;
}
#custom-first-navbar {
  display: none;
}

.custom-first-navbar-class {
  display: none;
}

.cutsom-form-padding{
  padding-top: 50px;
  padding-bottom: 120px;
}
body {
  background-color: #f5f5f5;
}
</style>

<div class="text-center container col-md-4 offset-md-4 cutsom-form-padding">
   <%= link_to image_tag('logo3.png', height: '150', class:"mb-4"), root_path %>
   <h2 class="h3 mb-3 font-weight-normal">Offrez-vous un marketing de pro à prix cassé ! </h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <%= f.label :"Adresse email" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :"Mot de passe" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caractères au minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :"Confirmer votre mot de passe" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
    <div>
      <p class="custom-small-text"> En cliquant sur S’inscrire, vous acceptez les Conditions d’utilisation, la Politique de confidentialité, et la Politique relative aux cookies de Locall'it</p>
    </div>
    <div class="actions form-group">
      <%= f.submit "S'inscrire", class: "btn btn-lg btn-primary btn-block"  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
